.field{
    min-width: 400px;
    max-width: 400px;
    margin: auto;

    label{
        display: block;
        font-size: 14px;
        color: gray;
        margin: 8px 0px 5px 0px;
    }

    input, textarea{
        width: 100%;
        min-height: 20px;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 5px 10px
    }

    input{
        border: 1px solid gray;
    }

    textarea{
        min-height: 60px;
    }

    button{
        min-width: 420px
    }
}