@font-face {
    font-family: HelveticaLight;
    src: url("./HelveticaNowText-Light.otf");
}

@font-face {
    font-family: HelveticaRegular;
    src: url("./HelveticaNowText-Regular.otf");
    font-style: normal;
    font-stretch: 1% 500%;
}

@font-face {
    font-family: HelveticaMedium;
    src: url("./HelveticaNowText-Medium.otf");
}

@font-face {
    font-family: EditorialRegular;
    src: url("./EditorialNew-Regular.otf");
}

@font-face {
    font-family: EditorialThin;
    src: url("./EditorialNew-Thin.otf");
}

.box {
    height: 340px;
    width: 220px;
    transition-duration: 0.3s;
    background-color: teal;
    margin: 0px 40px 0px 0px;

    // & - Parent selector
    &:hover {
        border-radius: 110px;
    }
}

body {
    background-color: white;
    font-family: HelveticaLight;
}

.box-container {
    display: flex;
}

.tbl {
    width: 100%;
    text-align: center;
    border-spacing: 0px;

    td,
    th {
        padding: 5px 12px;
        border-bottom: 1pt solid black;
    }

    tr {
        transition-duration: 0.2s;
        &:hover {
            background-color: rgb(210, 231, 231);
        }
    }
}
