.navBar {
    max-width: 100%;
    padding-top: 10px;

    .nav-btn {
        display: float;
        float: right;
        padding: 0px 5px 5px 0px;
        margin: 15px 30px;
        font-size: 16px;
        text-decoration: none;
        color: black;
        font-family: HelveticaMedium;

        &:hover {
            border-bottom: 2px solid black;
            color: black;
        }
    }

    .logo {
        display: float;
        float: left;
        background-image: url("../../public/Logo/small.png");
        height: 30px;
        width: 120px;
        padding: 10px 25px;
        margin-left: 40px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        z-index: 100;
    }

    #circle {
        position: absolute;
        bottom: 45px;
        right: 30px;
        background-image: url("./circa.png");
        height: 120px;
        width: 120px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        z-index: 100;

        animation-name: circling;
        animation-duration: 18s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes circling {
        from {
            transform: rotate(-360deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
